<!DOCTYPE html>
<html>
<head>
    <title>得物资深鉴别门户</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/identification.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/identification.js"></script>
</head>
<body>
<div class="content">
    <img class="top" src="img/topper.png">
    <a class="button" href="https://a.app.qq.com/o/simple.jsp?pkgname=com.shizhuang.duapp">打开</a>
    <img class="stamp" src="img/stamp.jpeg">
    <img class="avatar" id="avatar1">
    <h3 id="expert"></h3>
    <h5>鉴别结果由资深鉴别师根据用户信息得出</h5>
    <span class="number1">鉴别贴编号：</span><span class="number2" id="serialNumber"></span>
    <img class="border" src="img/border.jpeg">
    <h4 id="productName"></h4>
    <div class="column">
    </div>
    <div class="owner">
        <img class="avatar user" src="img/user.jpg">
        <span id="dateinfo"></span>
    </div>
    <img class="footer" src="img/footer.png">
</div>
</body>
</html>