<!DOCTYPE html>
<html>
<head>
    <title>得物资深鉴别门户</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/identification.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/identification.js"></script>
</head>
<body>
<div class="content">

    <h1>鉴别为真</h1>
    <div class="astrodivider"><div class="astrodividermask"></div><span><i>&#10038;</i></span></div>
    <h5>鉴别结果由资深鉴别师根据用户信息得出</h5>
    <span class="number">鉴别贴编号：</span><span class="number" id="serialNumber"></span>
    <img class="border" src="img/border.jpeg">
    <h4 id="productName">废人系列鞋子</h4>
    <img class="stamp" src="img/stamp.jpeg">
    <div class="column">
    </div>

</div>
</body>
</html>