<!DOCTYPE html>
<html>
<head>
    <title>得物资深鉴别门户</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div class="content">
    <label class="time">剩余使用次数:<label><label class="time" id="times"></label>
    <img class="slider" src="img/slider.jpg">
    <h4>正品保障 · 逐件查验 · 多重鉴别</h4>
    <div class="information">
        <span>请上传产品信息</span>
        <input class="name" type="text" placeholder="产品名称"/>
        <div class="productDrawingBox">
            <div class="productDescription">上传产品图片</div>
            <div class="productImg">
                <div id="uploadBox">
                </div>
                <div class="uploadDIv">
                    <span>+</span><input type="file" name="file" id="inputs" accept="image/*" class='fileTest' multiple="multiple" />
                </div>
            </div>
        </div>
        <button class="button" id="upload">提交验证</button>
    </div>


</div>
</body>
</html>
